{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="wpOceans">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'web/assets/images/fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'web/assets/images/fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'web/assets/images/fav/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'web/assets/images/fav/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'web/assets/images/fav/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>asm decor</title>
    <link href="{% static 'web/assets/css/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'web/assets/css/flaticon.css' %}" rel="stylesheet">
    <link href="{% static 'web/assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'web/assets/css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'web/assets/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'web/assets/css/owl.theme.css' %}" rel="stylesheet">
    <link href="{% static 'web/assets/css/slick.css' %}" rel="stylesheet">
    <link href="{% static 'web/assets/css/slick-theme.css' %}" rel="stylesheet">
    <link href="{% static 'web/assets/css/swiper.min.css' %}" rel="stylesheet">
    <link href="{% static 'web/assets/css/owl.transitions.css' %}" rel="stylesheet">
    <link href="{% static 'web/assets/css/jquery.fancybox.css' %}" rel="stylesheet">
    <link href="{% static 'web/assets/css/odometer-theme-default.css' %}" rel="stylesheet">
    <link href="{% static 'web/assets/sass/style.css' %}" rel="stylesheet">
    <link href="{% static 'web/assets/css/custom.css' %}" rel="stylesheet">
</head>

<body>

    <!-- start page-wrapper -->
    <div class="page-wrapper">

        <!-- start preloader -->
        <div class="preloader">
            <div class="vertical-centered-box">
                <div class="content">
                    <div class="loader-circle"></div>
                    <div class="loader-line-mask">
                        <div class="loader-line"></div>
                    </div>
                    <img src="{% static 'web/assets/images/logo.png' %}" alt="">
                </div>
            </div>
        </div>
        <!-- end preloader -->

        {% include "web/partials/header.html" %}

        {% block content %}{% endblock  %}

        {% include "web/partials/footer.html" %}

    </div>
    <!-- end of page-wrapper -->


    <!-- All JavaScript files
    ================================================== -->
    <script src="{% static 'web/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'web/assets/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Plugins for this template -->
    <script src="{% static 'web/assets/js/modernizr.custom.js' %}"></script>
    <script src="{% static 'web/assets/js/jquery.dlmenu.js' %}"></script>
    <script src="{% static 'web/assets/js/jquery-plugin-collection.js' %}"></script>
    <!-- Custom script for this template -->
    {% block js %}
    {% endblock  %}
    <script src="{% static 'web/assets/js/script.js' %}"></script>

</body>

</html>