{% extends "web/base.html" %}
{% load static %}
{% block content %}


        <!-- start wpo-page-title -->
        <section class="wpo-page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="wpo-breadcumb-wrap">
                            <h2>Career</h2>
                            <ol class="wpo-breadcumb-wrap">
                                <li><a href="index-2.html">Home</a></li>
                                <li>Career</li>
                            </ol>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end page-title -->

        <!-- start wpo-contact-pg-section -->
        <section class="wpo-contact-pg-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-10 offset-lg-1">
                       
                        <div class="wpo-contact-title">
                            <h2>Have Any Question?</h2>
                            
                        </div>
                        <div class="wpo-contact-form-area career-form">
                            <form method="post" class="contact-validation-active ajax reaload" id="contact-form-main" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div>
                                    {{form.name}}
                                </div>
                                <div>
                                    {{form.phone}}
                                </div>
                                <div>
                                    {{form.email}}
                                </div>
                                <div>
                                    {{form.address}}
                                </div>
                                <div class="fullwidth">
                                    {{form.message}}
                                </div>
                                <div class="fullwidth">
                                    {{form.cv}}
                                </div>
                                <div class="submit-area">
                                    <button type="submit" class="theme-btn">Get in Touch</button>
                                    <div id="loader">
                                        <i class="ti-reload"></i>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end wpo-contact-pg-section -->

        
{% endblock %}
{% block js %}
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.15.3/dist/sweetalert2.all.min.js"></script>
        <script src="{% static 'web/assets/js/career.js' %}"></script>
{% endblock  %}  
