{% extends "web/base.html" %}
{% load static %}
{% block content %}

        <!-- start of hero -->
        <section class="wpo-hero-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                  

                    {% for banner in banners %}
                    <div class="swiper-slide">
                        <div class="slide-inner slide-bg-image" data-background="{{banner.image.url}}">
                            <!-- <div class="gradient-overlay"></div> -->
                            <div class="container">
                                <div class="slide-content">
                                    <div data-swiper-parallax="300" class="slide-title">
                                        <h2>{{banner.title}}</h2>
                                    </div>
                                    <div data-swiper-parallax="400" class="slide-text">
                                        <p>{{banner.description|safe}}</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div data-swiper-parallax="500" class="slide-btns">
                                        <a href="{% url "web:service" %}" class="theme-btn">Explore more</a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end slide-inner -->
                    </div> <!-- end swiper-slide -->
                    {% endfor %}
                </div>
                <!-- end swiper-wrapper -->

                <!-- swipper controls -->
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </section>
        <!-- end of wpo-hero-slide-section-->

        <!-- start of wpo-about-area -->
        <div class="wpo-about-area-s2 section-padding">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <div class="wpo-about-img">
                            <img src="{% static 'web/assets/images/about.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 colsm-12">
                        <div class="wpo-about-text">
                            <div class="wpo-about-title">
                                <span>About Us</span>
                                <h2>WHO WE ARE</h2>
                            </div>
                            <p><span class="asm-text"> asm</span> decor LLC, a well-established Dubai-based interior design and Fit-Out company, has been a key player in the industry since its inception in 1988. With a remarkable history spanning over three decades, the company has refined its expertise and risen to the forefront as a leader in providing exceptional interior design solutions. Their unwavering commitment to excellence is reflected in the comprehensive range of services they offer, guiding clients through every phase of their interior design journey. ASM Decor's success is deeply rooted in the expertise and dedication of their skilled craftsmen, consistently delivering high-quality fit-out works that transform spaces into captivating, functional, and aesthetically pleasing environments that surpass expectations.</p>
                            <div class="btns">
                                <a href="{% url "web:about" %}" class="theme-btn" tabindex="0">Discover More</a>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of wpo-about-area -->

        <!-- start wpo-service-section -->
        <section class="wpo-service-section ">
            
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-12">
                        <div class="wpo-section-title">
                            <span>WHY CHOOSES</span>
                            <h2>Transforming Spaces with Elegance</h2>
                        </div>
                    </div>
                </div>
                <div class="scervice-wrap">
                    <div class="row gutter-y">
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="scervice-item item-height">
                                <div class="scervice-item-img">
                                    <img src="{% static 'web/assets/images/services/icon-4.png' %}" alt="">
                                </div>
                                <div class="scervice-item-text">
                                        <h2>Range of Services</h2>
                                    <p>Wide range of services offered by <span class="asm-text"> asm</span> decor LLP, from complete turnkey projects to the design, manufacture, and supply of interior design elements. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="scervice-item item-height">
                                <div class="scervice-item-img">
                                    <img src="{% static 'web/assets/images/services/icon-3.png' %}" alt="">
                                </div>
                                <div class="scervice-item-text">
                                        <h2>Expertise and Experience</h2>
                                    <p>Highlighting the company's extensive experience and expertise in the field instills confidence in clients, demonstrating credibility and competence.</p>
                                </div>
                            </div>
                        </div><div class="col-lg-3 col-md-6 col-12">
                            <div class="scervice-item item-height">
                                <div class="scervice-item-img">
                                    <img src="{% static 'web/assets/images/services/icon-1.png' %}" alt="">
                                </div>
                                <div class="scervice-item-text">
                                        <h2>Skilled Workforce</h2>
                                    <p>Emphasizing skilled finishing craftsmen demonstrates our commitment to quality, assuring clients of top-notch craftsmanship for their projects.</p>
                                </div>
                            </div>
                        </div><div class="col-lg-3 col-md-6 col-12">
                            <div class="scervice-item item-height">
                                <div class="scervice-item-img">
                                    <img src="{% static 'web/assets/images/services/icon-2.png' %}" alt="">
                                </div>
                                <div class="scervice-item-text">
                                        <h2>Customization and Branding</h2>
                                    <p>Top-quality custom furniture and adherence to branding guidelines shows our dedication to meeting client needs and maintaining brand consistency.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end wpo-service-section -->

        <!-- start wpo-cta-section -->
        <section class="wpo-cta-section">
            <div class="container">
                <div class="cta-wrapper">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-7 col-12">
                            <div class="cta-left">
                                <h2>Make your dream property.</h2>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5 col-12">
                            <div class="cta-right">
                                <a href="{% url "web:contact" %}" class="theme-btn">GET IN TOUCH</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end wpo-cta-section -->


        <!-- start wpo-fun-fact-section -->
        <section class="wpo-fun-fact-section section-padding  pad-bt">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12 ">
                        <div class="wpo-fun-fact-grids clearfix">
                            <div class="grid">
                                <div class="info">
                                    <h3><span class="odometer" data-count="35">00</span></h3>
                                    <p>Years Of Experience</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="info">
                                    <h3><span class="odometer" data-count="300">00</span>K+</h3>
                                    <p>Successful Project</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="info">
                                    <h3><span class="odometer" data-count="300">00</span>K+</h3>
                                    <p>Happy Customers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </section>
        <!-- end wpo-fun-fact-section -->

        <section class="wpo-service-section ">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-12">
                        <div class="wpo-section-title">
                            <span>OUR SERVICES</span>
                            <h2>Experience the Convenience of All-In-One Facilities</h2>
        
                        </div>
                    </div>
                </div>
                <section class="wpo-project-section">
                    <div class="project-wrapper">
                        <div class="container-fluid">
                            <div class="row project-slider">
                                {% for service in servicescategories %}
                                <div class="col-lg-3">
                                    <div class="project-single">
                                        <div class="project-single-img">
                                            <a href="{% url "web:service-single" service.slug %}">
                                                <img src="{{ service.image.url }}" alt="">
                                            </a>
                                        </div>
                                        <div class="project-single-text">
                                            <a href="{% url "web:service-single" service.slug %}">
                                                <h2>{{service.name}}</h2>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>
        </section>

        <!-- start wpo-testimonial-section -->
        <div class="wpo-testimonial-section-s2 section-padding pad-tp">
            <div class="container">
                <div class="testimonial-wrapper">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="testimonial-slider">
                                {% for testimonial in testimonials %}
                                <div class="testimonial-text">
                                    <p>{{testimonial.review}}</p>
                                    <h3>{{testimonial.name}}</h3>
                                    <span>{{testimonial.designation}}</span>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="testimonial-img">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- end wpo-testimonial-section -->



        <!-- start wpo-blog-section -->
        <section class="wpo-blog-section section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="wpo-section-title">
                            <span>OUR LATEST NEWS</span>
                            <h2>Most Popular Post & Articles</h2>
                        </div>
                    </div>
                </div>
                <div class="blog-wrapper">
                    <div class="row wpo-blog-slider owl-carousel">
                        {% for update in updates %}
                        <div class="blog-single">
                            <div class="images">
                                <img src="{{update.image.url}}" alt="">
                            </div>
                            <div class="text">
                                <span>{{update.date}}</span>
                                <h2>{{update.title}}</h2>
                                <a href="{% url 'web:update-detail' update.slug %}">READ MORE</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- end wpo-blog-section -->
                {% comment %} <!-- wpo-partners-area-start -->
                <section class="wpo-partners-section  section-padding pad-tp">
                    <h2 class="hidden">partner</h2>
                    <div class="wpo-section-title">
                        <h2>Our Partner</h2>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col col-xs-12">
                                <div class="partner-grids partners-slider owl-carousel clearfix">

                                    {% for client in clients %}
                                    <div class="grid">
                                        <img src="{{client.image.url}}" alt="">
                                    </div>
                                    {% endfor %}
                                    
                                </div>
                            </div>
                        </div>
                    </div> <!-- end contianer -->
                </section>
                <!-- partners-area-end --> {% endcomment %}

{% endblock %}