{% extends "web/base.html" %}
{% load static %}
{% block content %}

        <!-- start wpo-page-title -->
        <section class="wpo-page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="wpo-breadcumb-wrap">
                            <h2>Project</h2>
                            <ol class="wpo-breadcumb-wrap">
                                <li><a href="index-2.html">Home</a></li>
                                <li>Project</li>
                            </ol>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end page-title -->

        <!-- start of wpo-project-area -->
        <div class="wpo-project-area-s2 section-padding">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-12">
                        <div class="wpo-section-title">
                            <span>SUCCESSFUL PROJECT</span>
                            <h2>Check Our Most Recent project</h2>
                            <div class="shape-title">
                                <img src="assets/images/section-title-shape-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="wpo-project-wrap">
                        <div class="sortable-gallery">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="project-grids gallery-container clearfix">
                                        <div class="grid">
                                            <div class="wpo-project-item">
                                                <div class="wpo-project-img">
                                                    <img src="assets/images/project/5.jpg" alt="">
                                                    <div class="left-border"></div>
                                                    <div class="right-border"></div>
                                                </div>
                                                <div class="wpo-project-text">
                                                    <h2><a href="project-single.html">Architecture</a></h2>
                                                    <span>Architecture Design</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid">
                                            <div class="wpo-project-item">
                                                <div class="wpo-project-img">
                                                    <img src="assets/images/project/6.jpg" alt="">
                                                    <div class="left-border"></div>
                                                    <div class="right-border"></div>
                                                </div>
                                                <div class="wpo-project-text">
                                                    <h2><a href="project-single.html">Architecture</a></h2>
                                                    <span>Architecture Design</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid">
                                            <div class="wpo-project-item">
                                                <div class="wpo-project-img">
                                                    <img src="assets/images/project/7.jpg" alt="">
                                                    <div class="left-border"></div>
                                                    <div class="right-border"></div>
                                                </div>
                                                <div class="wpo-project-text">
                                                    <h2><a href="project-single.html">Interior</a></h2>
                                                    <span>Interior Design</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid">
                                            <div class="wpo-project-item">
                                                <div class="wpo-project-img">
                                                    <img src="assets/images/project/8.jpg" alt="">
                                                    <div class="left-border"></div>
                                                    <div class="right-border"></div>
                                                </div>
                                                <div class="wpo-project-text">
                                                    <h2><a href="project-single.html">Interior</a></h2>
                                                    <span>Interior Design</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid">
                                            <div class="wpo-project-item">
                                                <div class="wpo-project-img">
                                                    <img src="assets/images/project/9.jpg" alt="">
                                                    <div class="left-border"></div>
                                                    <div class="right-border"></div>
                                                </div>
                                                <div class="wpo-project-text">
                                                    <h2><a href="project-single.html">Architecture</a></h2>
                                                    <span>Architecture Design</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of wpo-project-area -->

        <!-- start wpo-fun-fact-section -->
        <section class="wpo-fun-fact-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="wpo-fun-fact-grids clearfix">
                            <div class="grid">
                                <div class="info">
                                    <h3><span class="odometer" data-count="25">00</span></h3>
                                    <p>Years Of Experience</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="info">
                                    <h3><span class="odometer" data-count="32">00</span></h3>
                                    <p>Expert Specialist</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="info">
                                    <h3><span class="odometer" data-count="321">00</span>+</h3>
                                    <p>Successful Project</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="info">
                                    <h3><span class="odometer" data-count="785">00</span>+</h3>
                                    <p>Happy Customers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape-1">
                <svg width="267.000000pt" height="151.000000pt" viewBox="0 0 267.000000 151.000000"
                    preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,151.000000) scale(0.100000,-0.100000)" stroke="none">
                        <path d="M0 992 l0 -519 64 -27 c35 -15 147 -73 248 -128 100 -55 229 -123
                                                284 -150 400 -192 687 -167 1033 89 328 244 629 712 775 1202 l15 51 -1210 0
                                                -1209 0 0 -518z" />
                    </g>
                </svg>
            </div>
            <div class="shape-2">
                <svg width="231.000000pt" height="249.000000pt" viewBox="0 0 231.000000 249.000000"
                    preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,249.000000) scale(0.100000,-0.100000)" stroke="none">
                        <path
                            d="M2258 2368 c-63 -77 -124 -180 -226 -383 -123 -244 -215 -385 -318 -488 -161 -161 -284 -222 -677 -337 -267 -78 -329 -101 -457 -166 -318 -162 -465 -424 -487 -866 l-6 -128 1111 0 1112 0 0 1205 c0 687 -4 1205 -9 1205 -5 0 -24 -19 -43 -42z" />
                    </g>
                </svg>
            </div>
        </section>
        <!-- end wpo-fun-fact-section -->

        <!-- start wpo-pricing-section -->
        <section class="wpo-pricing-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="wpo-section-title">
                        <span>Pricing Plan?</span>
                        <h2>Choose Your Optimal Plan</h2>
                        <div class="shape-title">
                            <img src="assets/images/section-title-shape-2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="wpo-pricing-wrap">
                    <div class="row">
                        <div class="col col-lg-4 col-md-6 col-12">
                            <div class="wpo-pricing-item">
                                <div class="wpo-pricing-top">
                                    <div class="pricing-thumb">
                                        <span>Basic</span>
                                    </div>
                                    <div class="wpo-pricing-text">
                                        <h2>$120<span>/per m²</span></h2>
                                        <p>Interior represents the way to feel
                                            happy and complete.</p>
                                    </div>
                                </div>
                                <div class="wpo-pricing-bottom">
                                    <div class="wpo-pricing-bottom-text">
                                        <ul>
                                            <li>General living space advices</li>
                                            <li>Interior design advices</li>
                                            <li>Complete home redesign</li>
                                            <li>Modern interior planning</li>
                                            <li>Kitchen design</li>
                                        </ul>
                                        <a href="pricing.html">CHOOSE PLAN</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-4 col-md-6 col-12">
                            <div class="wpo-pricing-item">
                                <div class="wpo-pricing-top">
                                    <div class="pricing-thumb">
                                        <span>Premium</span>
                                    </div>
                                    <div class="wpo-pricing-text">
                                        <h2>$210<span>/per m²</span></h2>
                                        <p>Interior represents the way to feel
                                            happy and complete.</p>
                                    </div>
                                </div>
                                <div class="wpo-pricing-bottom">
                                    <div class="wpo-pricing-bottom-text">
                                        <ul>
                                            <li>General living space advices</li>
                                            <li>Interior design advices</li>
                                            <li>Complete home redesign</li>
                                            <li>Modern interior planning</li>
                                            <li>Kitchen design</li>
                                        </ul>
                                        <a href="pricing.html">CHOOSE PLAN</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-4 col-md-6 col-12">
                            <div class="wpo-pricing-item">
                                <div class="wpo-pricing-top">
                                    <div class="pricing-thumb">
                                        <span>Advanced</span>
                                    </div>
                                    <div class="wpo-pricing-text">
                                        <h2>$373<span>/per m²</span></h2>
                                        <p>Interior represents the way to feel
                                            happy and complete.</p>
                                    </div>
                                </div>
                                <div class="wpo-pricing-bottom">
                                    <div class="wpo-pricing-bottom-text">
                                        <ul>
                                            <li>General living space advices</li>
                                            <li>Interior design advices</li>
                                            <li>Complete home redesign</li>
                                            <li>Modern interior planning</li>
                                            <li>Kitchen design</li>
                                        </ul>
                                        <a href="pricing.html">CHOOSE PLAN</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- end container -->
        </section>
        <!-- end wpo-pricing-section -->

        <!-- start of wpo-site-footer-section -->
 {% endblock %}