{% extends "web/base.html" %}
{% load static %}
{% block content %}


<!-- start wpo-page-title -->
<section class="wpo-page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="wpo-breadcumb-wrap">
                    <h2>Service</h2>
                    <ol class="wpo-breadcumb-wrap">
                        <li><a href="{% url "web:index" %}">Home</a></li>
                        <li>Service</li>
                    </ol>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end page-title -->

<!-- start wpo-service-section -->
<section class="wpo-service-section ">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-12">
                <div class="wpo-section-title">
                    <span>OUR SERVICES</span>
                    <h2>Experience the Convenience of All-In-One Facilities</h2>

                </div>
            </div>
        </div>
        <section class="wpo-project-section">
            <div class="project-wrapper">
                <div class="container-fluid">
                    <div class="row project-slider">
                        {% for service in servicescategories %}
                        <div class="col-lg-3">
                            <div class="project-single">
                                <div class="project-single-img">
                                    <a href="{% url "web:service-single" service.slug %}">
                                        <img src="{{ service.image.url }}" alt="">
                                    </a>
                                </div>
                                <div class="project-single-text">
                                    <a href="{% url "web:service-single" service.slug %}">
                                        <h2>{{service.name}}</h2>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
</section>
<!-- end wpo-service-section -->


{% endblock %}