{% extends "web/base.html" %}
{% load static %}
{% block content %}



        <!-- start wpo-page-title -->
        <section class="wpo-page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="wpo-breadcumb-wrap">
                            <h2>About us</h2>
                            <ol class="wpo-breadcumb-wrap">
                                <li><a href="index-2.html">Home</a></li>
                                <li>About</li>
                            </ol>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end page-title -->

    <!-- start wpo-blog-section -->
    <section class="wpo-blog-section section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="wpo-section-title">
                        <span>OUR LATEST NEWS</span>
                        <h2>Most Popular Post & Articles</h2>
                    </div>
                </div>
            </div>
            <div class="blog-wrapper">
                <div class="row wpo-blog-slider owl-carousel">
                    <div class="blog-single">
                        <div class="images">
                            <img src="{% static 'web/assets/images/blog/img-1.jpg' %}" alt="">
                            <div class="date">
                                <h3>28</h3>
                                <span>MAR</span>
                            </div>
                        </div>
                        <div class="text">
                            <span>ARCHITECTURE / BY: KARIANAS</span>
                            <h2>Lorem Ipsum is simply dummy
                                text of printing and typesetting.</h2>
                            <a href="blog-single.html">READ MORE</a>
                        </div>
                    </div>
                    <div class="blog-single">
                        <div class="images">
                            <img src="{% static 'web/assets/images/blog/img-2.jpg' %}" alt="">
                            <div class="date">
                                <h3>29</h3>
                                <span>MAR</span>
                            </div>
                        </div>
                        <div class="text">
                            <span>ARCHITECTURE / BY: Dos</span>
                            <h2>Lorem Ipsum is simply dummy
                                text of printing and typesetting.</h2>
                            <a href="blog-single.html">READ MORE</a>
                        </div>
                    </div>
                    <div class="blog-single">
                        <div class="images">
                            <img src="{% static 'web/assets/images/blog/img-3.jpg' %}" alt="">
                            <div class="date">
                                <h3>30</h3>
                                <span>MAR</span>
                            </div>
                        </div>
                        <div class="text">
                            <span>ARCHITECTURE / BY: Jon</span>
                            <h2>Lorem Ipsum is simply dummy
                                text of printing and typesetting.</h2>
                            <a href="blog-single.html">READ MORE</a>
                        </div>
                    </div>
                    <div class="blog-single">
                        <div class="images">
                            <img src="{% static 'web/assets/images/blog/img-3.jpg' %}" alt="">
                            <div class="date">
                                <h3>30</h3>
                                <span>MAR</span>
                            </div>
                        </div>
                        <div class="text">
                            <span>ARCHITECTURE / BY: Jon</span>
                            <h2>Lorem Ipsum is simply dummy
                                text of printing and typesetting.</h2>
                            <a href="blog-single.html">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end wpo-blog-section -->



{% endblock  %}
