.wpo-blog-section .blog-wrapper .blog-single .text.services{
    padding: 20px 30px 35px;
    /* height: 45%; */
    background-color: #ffffff;
    
}

.wpo-service-single-main-img img{
    width:100%;
}
.wpo-blog-section .blog-wrapper .blog-single:hover .text.services {
    background: #EC1616;
    margin-top: 0px;
    padding: 20px 30px 35px;
    border: 1px solid transparent;
    border-top: 0;
}

.services-single-row{
    --bs-gutter-y: 25px;
}

.gutter-y{
    --bs-gutter-y: 1.5rem;
}
.item-height{
    height: 100%;
}

.career-form{
    margin-bottom:120px !important;
    padding-bottom: 20px;
}




@media (min-width: 991px) {
    .pad-tp{
        padding-top: 50px;
    }
    .pad-bt{
        padding-bottom: 50px;
    }
}
.wpo-service-section .scervice-wrap .scervice-item:hover .scervice-item-text h2{
    color: #ffffff !important;
}

.blog-sidebar .wpo-newsletter-widget .service-form input{
    border: 1px solid #ebebeb;
    border-radius: 0px;
    box-shadow: none;
}

.blog-sidebar .wpo-newsletter-widget .service-form button{
    border-radius: 0px;
}

.career-cv label{
    color: rgb(24, 24, 24);
}
.asm-text{
    color: #EC1616;
}

.wpo-service-section .scervice-wrap .scervice-item:hover .scervice-item-text p .asm-text{
    color: #080808;
}